.ModalBackground{
    background: rgba(32, 35, 41, .8);
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
};
